HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
# src/main/resources/imageKit.properties <-- "git update-index --assume-unchanged FILENAME"
# src/test/resources/profiles/image.properties <-- "git update-index --assume-unchanged FILENAME"
# /src/main/resources/.env.example <-- "git update-index --assume-unchanged FILENAME"
# /src/main/resources/.env.properties <-- "git update-index --assume-unchanged FILENAME"
src/main/resources/imageKit-alwaysdata.properties
src/main/resources/.env.main

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Vaadin ###
frontend/generated
frontend/index.html
.npmrc
.pnpmfile.cjs
pnpm-lock.yaml
node_modules/
package.json
tsconfig.json
types.d.ts
vite.config.ts
vite.generated.ts