<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sklepy</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${stores.empty}">
            <td colspan="2">No stores found</td>
        </tr>
        <tr th:each="store : ${stores}">
            <td><span th:text="${store.name}">Title</span></td>
            <td><span th:text="${store.id}">ID</span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>